version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
    groups:
      maven-plugins:
        patterns:
          - "*maven*plugin*"
      test-dependencies:
        patterns:
          - "org.junit*"
          - "org.scalatest*"
